body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container {
    margin: 0 auto;
    padding: 0 2%;
    max-width: 100%;
}

header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px 0;
    border-bottom: 1px solid #ccc;
    gap: 10px;
}

.logo img {
    height: 23px;
    width: auto;
    cursor: pointer;
}

.search-container {
    display: flex;
    align-items: center;
    flex-grow: 1;
    justify-content: center;
    gap: 10px;
}

#search-input {
    flex-grow: 1;
    padding: 10px;
    border-radius: 10px;
    border: 2px solid #555555;
}

#search-button {
    padding: 10px 20px;
    border-radius: 10px;
    color: black;
    background: white;
    cursor: pointer;
}

.profile-icon {
    width: 30px;
    height: 30px;
    border-radius: 50%;
    background-color: #ccc;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 18px;
    color: white;
    cursor: pointer;
}

.page-nav {
    text-align: right;
    margin-top: 25px;
    font-size: 30px;
}

.page-nav a {
    color: #555;
    text-decoration: underline;
    cursor: pointer;
}

.content {
    display: flex;
    margin-top: 10px;
}

.sidebar {
    width: 15%;
    padding: 10px;
    box-sizing: border-box;
    align-self: flex-start;
}

.sidebar ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

.sidebar ul li {
    padding: 10px;
    cursor: pointer;
    border-bottom: 1px solid #ccc;
}

.main-content {
    width: 70%;
    height: 80vh;
    position: relative;
}

.search-results {
    width: 15%;
    padding: 10px;
    box-sizing: border-box;
    height: 80vh;
    overflow-y: auto;
    position: relative;
    border-left: 1px solid #ccc;
}

#map {
    height: 100%;
    width: 100%;
    position: relative;
}

#results-panel h3 {
    margin: 0;
    padding: 10px 0;
    border-bottom: 1px solid #ccc;
}

#results-list {
    list-style: none;
    padding: 0;
    margin: 0;
}

#results-list li {
    padding: 10px;
    border-bottom: 1px solid #ccc;
}

#results-list li:last-child {
    border-bottom: none;
}

@media (max-width: 768px) {
    .container {
        padding: 0 5%;
    }

    .search-container {
        width: 100%;
    }

    #search-input {
        width: 200px;
    }

    .sidebar, .search-results {
        width: 100%;
    }

    .main-content {
        width: 100%;
    }
}
